.heading{
    text-align: center;

    &-2{ 
        font-size: 5rem;
        margin-bottom: 5rem;
    }
    &-3{ 
        font-size: 3.2rem;
        margin-bottom: 3rem;
    }
    &-4{
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }
}

.mr-sm{margin-right: 1.4rem;}

.mb-md{margin-bottom: 3.5rem;}