.control{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    flex-direction: column;
    
    &__buttons{
       display: flex;
       justify-content: center;
       align-items: center;
    }
}
.control-btn{
    &__img{
        width: 2.4rem;
    }
}
.ability{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.move{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pokemon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}