.signup,
.signin{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    position: relative;

    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20rem;
        
        &__input{
            border: none;
            background: none;
            border-radius: .7rem;
            padding: 1rem 1.5rem;
            margin: 1.2rem;
            margin-bottom: 2rem;
            width: 25rem;
            box-shadow: var(--box-shadow-sm);
            transition: .3s ease-in transform;

            &:hover{
                transform: scale(1.1)
            }
        }
    }
}